[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"
gunicorn = "*"
whitenoise = "*"
django-tailwind = "*"
sentry-sdk = "*"

[dev-packages]
black = "==21.9b0"
pylint = "*"
pylint-django = "*"
isort = "*"
factory-boy = "*"
mypy = "*"
django-stubs = "*"
pytest-watch = "*"
pytest-django = "*"
pytest-cov = "*"
faker-optional = "*"

[requires]
python_version = "3.10"
