[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
django-environ = "*"

[dev-packages]
black = "==21.8b0"
pylint = "*"
pylint-django = "*"
isort = "*"
factory-boy = "*"
mypy = "*"

[requires]
python_version = "3.9"
