.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td {
    text-align: right;
    border-radius: 5px;
}

th,
td {
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 4);
}

td:hover {
    background: var(--secondary) !important;
    color: var(--secondary-inverse) !important;
}

td.selected {
    background: var(--primary) !important;
    color: var(--primary-inverse) !important;
}

dialog>article {
    width: 100%;
}

@media (min-width: 1200px) {
    dialog>article {
        max-width: 1130px;
    }
}

@media (min-width: 992px) {
    dialog>article {
        max-width: 990px;
    }
}

@media (min-width: 768px) {
    dialog>article {
        max-width: 700px;
    }
}

media (min-width: 576px) {

    dialog>article {
        max-width: 100%;
    }
}
