.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td {
    text-align: right;
    border-radius: 5px;
}

th,
td {
    padding: calc(var(--spacing) / 4) calc(var(--spacing) / 4);
}

td:hover {
    background: var(--secondary) !important;
    color: var(--secondary-inverse) !important;
}

td.selected {
    background: var(--primary) !important;
    color: var(--primary-inverse) !important;
}
