table {
    table-layout: fixed;
    border-collapse: collapse;
}

td {
    width: 25%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

td+td {
    width: auto;
}

th,
td {
    border-radius: 5px;
    padding: calc(var(--spacing) / 4) calc(var(--spacing) /16);
}

td {
    text-align: right;
}

.boards_and_months {
    padding: var(--nav-element-spacing-vertical) 0;
    margin-left: -9;
}

.boards_and_months li {
    padding: 0 0;
    padding: 0 var(--nav-element-spacing-horizontal);
}

.boards_and_months ul:first-of-type {
    margin-left: 0;
}

dialog>article {
    width: 100%;
}

@media (min-width: 1200px) {
    dialog>article {
        max-width: 1130px;
    }
}

@media (min-width: 992px) {
    dialog>article {
        max-width: 990px;
    }
}

@media (min-width: 768px) {
    dialog>article {
        max-width: 700px;
    }
}

media (min-width: 576px) {

    dialog>article {
        max-width: 100%;
    }
}
