[Unit]
Description=Goals
After=postgresql.service
After=nginx.service
After=redis.service

[Service]
Type=simple
Restart=always
RestartSec=1
WorkingDirectory=/var/apps/goals
ExecStart=/var/apps/goals/.venv/bin/gunicorn goals.wsgi
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MANPID
User=anze

[Install]
WantedBy=multi-user.target
