{% extends "base.html" %}
{% block content %}
    <h1>Add Board</h1>
    {% load humanize %}
    <form action="/boards/add" method="post">
        <div>{{ form.non_field_errors }}</div>
        {% csrf_token %}
        <label class="block col-span-3">
            <div>Board Name</div>
            <div>{{ form.name.errors }}</div>
            <input name="name"
                   type="text"
                   value="{{ form.name.value |default_if_none:"" }}"
                   placeholder="{% now "Y" %}"
                   autofocus/>
        </label>
        <div class="grid">
            <label class="block">
                <div>Goal</div>
                <input name="goals" type="text" value="" placeholder="Daily walks" />
            </label>
            <label class="block">
                <div>Group</div>
                <input name="groups" type="text" value="" placeholder="Personal" />
            </label>
            <label class="block">
                <div>Amount</div>
                <input name="amounts" type="number" step="any" value="" placeholder="10" />
            </label>
        </div>
        {% for i in fields_loop %}
            <div class="grid">
                <label class="block">
                    <input name="goals" type="text" value="" placeholder="Daily walks"/>
                </label>
                <label class="block">
                    <input name="groups" type="text" value="" placeholder="Personal" />
                </label>
                <label class="block">
                    <input name="amounts" type="number" value="" placeholder="10" />
                </label>
            </div>
        {% endfor %}
        <input type="submit" value="Add Board" />
        <a href="{% url 'index' %}" role="button" class="secondary outline">Cancel</a>
    </form>
{% endblock content %}
