{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    {% load tz %}
    {% get_current_timezone as TIME_ZONE %}
    <h1>Event</h1>
    <li hx-get="{% url 'event' event.pk %}"
        hx-select="main"
        hx-target="#dialog">
        {% if event.new_amount >= result.expected_amount %}
            <b title={{ event.amount }} style="color:green; display:inline;">{{ event.amount }}
            </b>
        {% else %}
            <b title={{ event.amount }} style="color:orange; display:inline;">{{ event.amount }}
            </b>
        {% endif %}
        {{ event.description | default_if_none:"" }}
        <small class="secondary">{{ event.date_event|naturaltime }}</small>
    </li>
{% endblock content %}
