{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    {% load tz %}
    {% get_current_timezone as TIME_ZONE %}
    <h1>Event</h1>
    <form method="post" action="{% url 'event' event.pk %}">
        {% csrf_token %}
        <!--<label>Amount</label>
        <input type="text" name="amount" value="{{ event.amount }}" disabled/>-->
        <label>Description</label>
        <textarea name="description">{{ event.description }}</textarea>
        <input type="submit" />
        <!--<input type="button" class="outline danger" value="Delete" />-->
    </form>
    <a href="{% url 'results' event.result_id %}"
       role="button"
       class="contrast outline">Cancel</a>
{% endblock content %}
