{% extends "base.html" %}
{% block content %}
    {% if message %}<div>{{ message }}</div>{% endif %}
    <form method="post" action="/login">
        {% csrf_token %}
        <label>
            <div>Username</div>
            <input type="text" name="username"/>
        </label>
        <label>
            <div>Password</div>
            <input type="password" name="password"/>
        </label>
        <div>
            <input type="submit" value="Log in" />
        </div>
    </form>
{% endblock content %}
