{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    <h1>Settings</h1>
    {{ message }}
    <form action="/settings/" class="container" method="post">
        {% csrf_token %}
        <label>
            <div>Default Board</div>
            <select name="default_board_id">
                {% for board in boards %}
                    <option value="{{ board.id }}"
                            {% if board.id == user.default_board_id %}selected{% endif %}>
                        {{ board.name }}
                    </option>
                {% endfor %}
            </select>
        </label>
        <input type="submit" />
    </form>
{% endblock %}
