{% extends "base.html" %}

{% block header %}
<div>Hi, <a href="/settings/">{{ user.username }}</a>! <a href="/logout">logout</a></div>
<div>
    {% for board in boards %}
        <a href="/boards/{{ board.pk }}">{{ board.name }}</a>
        {% comment %} <span hx-delete="/boards/{{board.pk}}" style="cursor: pointer; color:red;">x</span> {% endcomment %}
    {% endfor %}
    <a href="/boards/add">+</a>
</div>
{% endblock %}

{% block content %}

{% load humanize %}
<div id="table" class="inline-grid grid-cols-2 gap-4 max-w-3xl">
    <div class="overflow-x-auto border-white-800 col-span-2">
        <table class="rounded border-separate border">
            <tr>
                {% for month in months %}
                <th>{{month}}</th>
                {% endfor %}
                <th>Total</th>
            </tr>
            {% for group in groups.all %}
                <tr class="font-bold bg-gray-100 dark:bg-gray-700">
                    <td colspan="14">
                        {{ group.name }} 
                        {% comment %} 
                            <span hx-delete="/groups/{{group.pk}}" style="cursor: pointer; color:red;">x</span>             
                        {% endcomment %}
                    </td>
                </tr>
                {% for goal in group.goals.all %}
                <tr>
                    <td class="truncate">{{ goal.name }}</td>
                    {% for result in goal.results.all %}
                    <td onmouseover="this.classList.add('active')"
                        onmouseleave="this.classList.remove('active')"
                        onclick="location = '/boards/{{ group.board.pk }}/results/{{ result.pk }}'" 
                        {% if result.pk == selected_result.pk %}
                        class="font-mono text-right cursor-pointer activepage"
                        {% else %}
                        class="font-mono text-right cursor-pointer"
                        {% endif %}
                        {% if result.amount == 0 %}
                        style="color:gray"
                        {% elif result.amount >= result.expected_amount %}
                        style="color:green"
                        {% else %}
                        style="color:orange"
                        {% endif %}
                        >
                        {% if result.can_show_amount %}
                            {{ result.amount|floatformat:0|default_if_none:"" }}
                        {% endif %}
                    </td>
                    {% endfor %}
                    <td class="font-bold font-mono text-right text-yellow-500"
                        {% if goal.result_sum == 0 %}
                        style="color:gray"
                        {% elif goal.result_sum >= goal.expected_sum %}
                        style="color:green"
                        {% else %}
                        style="color:orange"
                        {% endif %}
                        title="{{goal.result_sum}} of {{goal.expected_sum}}">
                            {{goal.result_sum|floatformat:0}}
                    </td>
                    {% comment %}
                    <td>
                        <span hx-delete="/goals/{{ goal.pk }}" hx-target="#table" style="cursor: pointer; color:red;">x</span>
                    </td>
                    {% endcomment %}
                </tr>
            {% endfor %}
            {% comment %} <tr>
                <td colspan="12">
                    <form style="display:inline">
                    <input type="text" name="name" placeholder="New Goal" >
                    <input type="number" name="expected_amount" placeholder="10">
                    <input type="hidden" name="group_id" value="{{group.pk}}">
                    <button hx-post="/goals" hx-target="#table">Add Goal</button>
                    </form>
                </td>
            </tr> {% endcomment %}
            {% endfor %}
        </table>
    </div>
    <div><a href="/boards/{{board.pk}}/goals/add">Add goal</a></div>
    {% if selected_result %}
        <div class="col-span-2">
            <h1 class="text-lg">{{selected_result.goal.name}} for {{selected_month}}</h1>
        </div>
        <div class="row-span-2 col-span-2 sm:col-span-1">
            {% include "form.html" with result=selected_result selected_month=selected_month %}
        </div>
        <div class="row-span-2 col-span-2 sm:col-span-1">
            <h2 class="text-lg">History</h2>
            <ul>
            {% for event in selected_result.events.all %}
            <li class="grid grid-cols-6 gap-2">
                <div class="text-right overflow-hidden">
                    {% if event.new_amount >= selected_result.expected_amount %}
                        <p title={{event.amount}} style="color:green; display:inline;">{{event.amount}}</p>
                    {% else %}
                        <p title={{event.amount}} style="color:orange; display:inline;">{{event.amount}}</p>
                    {% endif %}
                </div>
                <div class="col-span-5">
                    {{ event.description | default_if_none:"" }}
                    <span class="text-gray-400 text-sm">{{event.date_event|naturaltime}}</span>
                </div>
            </li>
            {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}
