{% extends "base.html" %}
{% block content %}
    {% load humanize %}
    <header>
        <h1>🎯 Goals</h1>
        <nav>
            <ul>
                {% for board in boards %}
                    <li>
                        <a href="/boards/{{ board.pk }}">{{ board.name }}</a>
                    </li>
                    {% comment %} <span hx-delete="/boards/{{board.pk}}" style="cursor: pointer; color:red;">x</span> {% endcomment %}
                {% endfor %}
                <li>
                    <a href="/boards/add">+</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="{% url 'settings' %}"
                       hx-get="{% url 'settings' %}"
                       hx-target="#dialog">Settings</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </header>
    <div id="table">
        <figure>
            <table>
                <tr>
                    {% for month in months %}<th>{{ month }}</th>{% endfor %}
                    <th>Total</th>
                </tr>
                {% for group in groups.all %}
                    <tr>
                        <th>
                            <strong>{{ group.name }}</strong>
                            {% comment %}
                            <span hx-delete="/groups/{{group.pk}}" style="cursor: pointer; color:red;">x</span>             
                            {% endcomment %}
                        </th>
                        {% for month in months %}<th></th>{% endfor %}
                    </tr>
                    {% for goal in group.goals.all %}
                        <tr>
                            <th class="truncate">{{ goal.name }}</th>
                            {% for result in goal.results.all %}
                                <td onclick="location = '/boards/{{ group.board.pk }}/results/{{ result.pk }}'"
                                    {% if result.pk == selected_result.pk %} class="cell selected" {% else %} class="cell" {% endif %}
                                    {% if result.amount == 0 %} style="color:gray" {% elif result.amount >= result.expected_amount %} style="color:green" {% else %} style="color:orange" {% endif %}>
                                    {% if result.can_show_amount %}{{ result.amount|floatformat:0|default_if_none:" " }}{% endif %}
                                </td>
                            {% endfor %}
                            <th {% if goal.result_sum == 0 %} style="color:gray" {% elif goal.result_sum >= goal.expected_sum %} style="color:green" {% else %} style="color:orange" {% endif %}
                                title="{{ goal.result_sum }} of {{ goal.expected_sum }}">
                                {{ goal.result_sum|floatformat:0 }}
                            </th>
                            {% comment %}
                    <td>
                        <span hx-delete="/goals/{{ goal.pk }}" hx-target="#table" style="cursor: pointer; color:red;">x</span>
                    </td>
                            {% endcomment %}
                        </tr>
                    {% endfor %}
                    {% comment %} <tr>
                <td colspan="12">
                    <form style="display:inline">
                    <input type="text" name="name" placeholder="New Goal">
                    <input type="number" name="expected_amount" placeholder="10">
                    <input type="hidden" name="group_id" value="{{group.pk}}">
                    <button hx-post="/goals" hx-target="#table">Add Goal</button>
                    </form>
                </td>
                    </tr> {% endcomment %}
                {% endfor %}
            </table>
        </figure>
        <div>
            <a href="/boards/{{ board.pk }}/goals/add">Add goal</a>
        </div>
        {% if selected_result %}
            <div>
                <h1>{{ selected_result.goal.name }} for {{ selected_month }}</h1>
            </div>
            <div>{% include "form.html" with result=selected_result selected_month=selected_month %}</div>
            <div>
                <h2>History</h2>
                <ul>
                    {% for event in selected_result.events.all %}
                        <li>
                            <div>
                                {% if event.new_amount >= selected_result.expected_amount %}
                                    <p title={{ event.amount }} style="color:green; display:inline;">{{ event.amount }}
                                    </p>
                                {% else %}
                                    <p title={{ event.amount }} style="color:orange; display:inline;">{{ event.amount }}
                                    </p>
                                {% endif %}
                            </div>
                            <div>
                                {{ event.description | default_if_none:"" }}
                                <small>{{ event.date_event|naturaltime }}</small>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock %}
