{% load humanize %}
<div id="table" class="inline-grid grid-cols-1 xl:grid-cols-4 gap-4">
    <table class="rounded border-separate border border-white-800 col-span-2">
        <tr>
            {% for month in months %}
            <th>{{month}}</th>
            {% endfor %}
            <th>Total</th>
        </tr>
        {% for group in groups.all %}
            <tr class="font-bold bg-gray-100 dark:bg-gray-700">
                <td colspan="14">
                    {{ group.name }} 
                    {% comment %} 
                        <span hx-delete="/groups/{{group.pk}}" style="cursor: pointer; color:red;">x</span>             
                    {% endcomment %}
                </td>
            </tr>
            {% for goal in group.goals.all %}
            <tr>
                <td>{{ goal.name }}</td>
                {% for result in goal.results.all %}
                <td onmouseover="this.classList.add('active')"
                    onmouseleave="this.classList.remove('active')"
                    onclick="location = '/boards/{{ group.board.pk }}/results/{{ result.pk }}'" 
                    {% if result.pk == selected_result.pk %}
                    class="font-mono text-right cursor-pointer activepage"
                    {% else %}
                    class="font-mono text-right cursor-pointer"
                    {% endif %}
                    {% if result.amount >= result.expected_amount %}
                    style="color:green"
                    {% else %}
                    style="color:orange"
                    {% endif %}
                    >
                    
                    {{ result.amount|floatformat:0|default_if_none:"" }}
                </td>
                {% endfor %}
                <td class="font-bold font-mono text-right text-yellow-500">{{goal.result_sum|floatformat:0}}</td>
                {% comment %}
                <td>
                    <span hx-delete="/goals/{{ goal.pk }}" hx-target="#table" style="cursor: pointer; color:red;">x</span>
                </td>
                {% endcomment %}
            </tr>
        {% endfor %}
        {% comment %} <tr>
            <td colspan="12">
                <form style="display:inline">
                <input type="text" name="name" placeholder="New Goal" >
                <input type="number" name="expected_amount" placeholder="10">
                <input type="hidden" name="group_id" value="{{group.pk}}">
                <button hx-post="/goals" hx-target="#table">Add Goal</button>
                </form>
            </td>
        </tr> {% endcomment %}
        {% endfor %}
    </table>
    <div class="row-span-2 col-span-2 md:col-span-1">
    {% if selected_result %}
        {% include "form.html" with result=selected_result selected_month=selected_month %}
    {% endif %}
    </div>
    <div class="row-span-2">
    <h2 class="text-lg">Edit history</h2>
    <ul>
    {% for event in selected_result.events.all %}
    <li>
        <p>
            {% if event.new_amount >= selected_result.expected_amount %}
                <pre style="color:green; display:inline;" class="font-mono">{{event.amount}}</pre>
            {% else %}
                <pre style="color:orange; display:inline;" class="font-mono">{{event.amount}}</pre>
            {% endif %}
            {{ event.description |default_if_none:"" }}
            <span class="text-gray-400 text-sm">{{event.date_created|naturaltime}}</span>
        </p>
    </li>
    {% endfor %}
    </ul>
    </div>
</div>
